* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Segoe UI";
    text-align: center;
}

body {
    padding-top: 90px;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header, .main, .footer {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.header-container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.phone, .tg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.tg-number {
    text-decoration: none;
    color: black;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 482px;
    background-image: url('assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 15px;
}

.highlights {
    color: #0085FF;
}

.hero-title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    width: 680px;
    line-height: 110%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hero-text-p {
    text-align: center;
    font-size: 22px;
    line-height: 130%;
    width: 771px;
}

.hero-button, .call-us-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 442px;
    height: 66px;
    border-radius: 10px;
    color: white;
    background: #0085FF;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 23px;
    font-weight: 500;
}

.lead-text {
    text-align: center;
    font-size: 26px;
    line-height: 120%;
    max-width: 916px;
    margin: 78px auto;
}

.service-section, .diagnostics-section, .treatments-section, .mis-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    line-height: 120%;
}

.section-text {
    width: 861px;
    margin-bottom: 35px;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 80px;
}

.hr-line {
    width: 90%;
    border: none;
    height: 0.5px;
    background-color: #0085FF;
    margin-bottom: 70px;
}

.image-3 {
    width: 1117px;
    height: 472px;
}

.call-us-section {
    height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('assets/bg-logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.call-us-title {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
}

.call-us-button {
    text-decoration: none;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0085FF;
}

.footer-container {
    height: 200px;
    background: #0085FF;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.politics, .other {
    text-align: center;
    text-decoration: none;
    color: white;
}

.politics {
    font-size: 14px;
}

.other {
    font-size: 18px;
    text-decoration: underline;
}

.footer-line {
    width: 95%;
    border: none;
    height: 0.5px;
    background-color: white;
}

.footer-tg-number {
    text-decoration: none;
    color: white;
}

.footer-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 20px 20px 20px;
}

.footer-logo, .other {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footer-logo {
    top: 20px;
}

.hidden {
    display: none !important;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.call-popup {
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 690px;
    height: auto;
    background-color: #99CEFF;
    padding: 30px;
    position: relative;
    border-radius: 20px;
}

.call-popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.call-popup__text h2 {
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.call-popup__text p {
    font-family: "Segoe UI", sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.call-popup__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 472px;
    min-height: 200px;
    margin-top: 30px;
}

.popup__btn {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    border: none;
    outline: none;
    color: white;
    background: #0085FF;
    padding: 12px 24px;
    cursor: pointer;
    display: inline-block;
    width: 472px;
    border-radius: 10px;
    margin: 20px;
}

input {
    width: 100%;
    height: 39px;
    border-radius: 10px;
    border: 1px solid #0085FF;
    outline: none;
    padding: 10px;
    margin-bottom: 5px;
}

body.noscroll {
    overflow: hidden;
}

.input-error {
    border: 1px solid red !important;
    background-color: #ffecec;
}
