* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Segoe UI";
}

body {
    padding-top: 90px;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header, .main, .footer {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    height: 90px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.phone, .tg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.tg-number {
    text-decoration: none;
    color: black;
}
